<div class="container">
  <div class="question-title debugger">
    <h1><%= @question.title %></h1>
  </div>
  <div class="debugger question-body">
    <div class="question-sidebar">
      <!-- put in votes, upvote buttons, and best answer check mark -->
      <section id="<%= @question.id %>">
        <a class="upvote" href="/questions/<%= @question.id %>/upvote"> Upvote</a>
          <span class='vote_tally'><%= @question.vote_tally %></span>
        <a class="downvote" href="/questions/<%= @question.id %>/downvote"> Downvote</a>
      </section>

    </div>
    <div class="question-content">
      <p><%= @question.content %></p>
    </div>
  </div>
  <div class="question-footer">
    <div class="question-creator">
    asked on @question.created_at
    last updated on @question.updated_at
    @question.user.first_name + " " + @question.user.last_name
    </div>
  </div>
</div>


<% if user_authorized?(@question.asker.id) %>

<div class="delete">
  <form action="/questions/<%= @question.id %>/edit" method="get" class="question_delete" </form>
  <input type="submit" value="Edit">
  <form>
</div>


<div class="delete">
  <form action="/questions/<%= @question.id %>" method="post" class="question_delete" </form>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </form>
</div>

<% end %>
