<div class="question-container">
  <div class="question-title debugger">
    <h1><%= @question.title %></h1>
  </div>
  <div class="debugger question-body">
    <div class="question-sidebar">
      <!-- put in votes, upvote buttons, and best answer check mark -->
    </div>
    <div class="question-content">
      <p><%= @question.content %></p>
    </div>
  </div>
  <div class="question-footer">
    <div class="question-creator">
    asked on <%= @question.created_at %>
    last updated on <%= @question.updated_at %>
    @question.user.first_name + " " + @question.user.last_name
    </div>
  </div>
  <div class="comments">
    <h3>Comments</h3>
    <ul>
      <% @question.comments.each do |comment| %>
        <li id=<%= comment.id %>>
          <%= comment.content %>
          <% if user_authorized?(comment.commenter_id) %>
            <a class='comment-edit' href="#edit">Edit</a>
            <a class='comment-delete' href="#delete">Delete</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <h4>Create a New Comment</h4>
  <form class='comment-form' action='/questions/<%= @question.id %>/comments/new' method='post'>
    <textarea name='content' placeholder='Sample Comment'></textarea>
    <input type='submit'></input>
  </form>
</div>


<% if user_authorized?(@question.asker.id) %>

<div class="delete">
  <form action="/questions/<%= @question.id %>/edit" method="get" class="question_delete" </form>
  <input type="submit" value="Edit">
  <form>
</div>


<div class="delete">
  <form action="/questions/<%= @question.id %>" method="post" class="question_delete" </form>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </form>
</div>

<% end %>
