<div class="question">
  <div class="question-title debugger">
    <h1><%= @question.title %></h1>
  </div>
  <div class="debugger question-body">
    <div class="question-sidebar">
      <!-- put in votes, upvote buttons, and best answer check mark -->
      <section id="<%= @question.id %>">
        <a class="upvote" href="/questions/<%= @question.id %>/upvote"> Upvote</a>
          <span class='vote_tally'><%= @question.vote_tally %></span>
        <a class="downvote" href="/questions/<%= @question.id %>/downvote"> Downvote</a>
      </section>

    </div>
    <div class="question-content">
      <p><%= @question.content %></p>
    </div>
  </div>
  <div class="question-footer">
    <div class="question-creator">
    asked on <%= pretty_date(@question.created_at) %> and last updated on <%= pretty_date(@question.updated_at) %> by <%= @question.asker.name %>
    </div>
  </div>
  <%= erb :_comments, locals: {commentable: @question, commentable_route: "questions"}%>
</div>

<% if user_authenticated? && user_authorized?(@question.asker.id) %>

<div class="edit-question">
  <button><a href="/questions/<%= @question.id %>/edit">Edit Question</a></button>
</div>

<div class="delete">
  <form action="/questions/<%= @question.id %>" method="post" class="question_delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Question!">
  </form>
</div>
<% end %>


<div class = "answers">
<% @question.answers.each  do |answer|%>
  <%= erb :'/answers/show', locals: {answer: answer}, layout: false %>
  <div class="comments">
  <h3>Comments</h3>
  <ul>
    <% answer.comments.each do |comment| %>
      <li id=<%= comment.id %>>
        <%= comment.content %>
        <% if user_authorized?(comment.commenter_id) %>
          <a class='comment-edit' href='#'>Edit</a>
          <form class='comment-delete' action='/comments/<%= comment.id %>/delete' method='post'>
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Delete'>
          </form>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>
  <% if current_user %>
    <h4>Create a New Comment</h4>
    <form class='comment-form' action='/answers/<%= answer.id %>/comments/new' method='post'>
      <textarea name='content' placeholder='Sample Comment'></textarea>
      <input type='submit'></input>
    </form>
  <% end %>
<% end %>
</div>

<button class="new-answer">New Answer</button>
  <form id="create-answer" action="/answers" method="post">
    <input type="text" name="answer[title]" placeholder="optional title"><br>
    <input type="text" name="answer[content]" placeholder="Put your answer here.."><br>
    <input type="hidden" name="question_id" value="<%= @question.id %>">
    <input type="submit" clas="btn" value="Submit Answer">
  </form>
