<div class="container">
  <div class="filter-bar">
  </div>
  <div class="question-container">
  <% @questions.each do |question| %>
    <div class="question" id="<%= question.id %>">
      <ul class="inline">
        <li><%= question.vote_tally %> <br> votes</li>
        <li>53 <br> answers</li>
      </ul>
      <a href="/questions/<%= question.id %>"><%= question.title %></a>
      <span class="asked-ago">asked <%= question.days_ago %> by <%= question.asker.name %></span>
    </div>
  <% end %>
  </div>
</div>
